body {
  font-family: Arial, sans-serif;
  background-color: #3a9188;
  margin: 0;
  padding: 0;
}

.result-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #062925;
}

#score-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.result-buttons {
  margin-top: 20px;
}

.result-buttons button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #004953;
  transition: background-color 0.2s;
}

.result-buttons button:hover {
  background-color: #29AB87;
  color: #fff;
}
